## **PANDAS BASİCS 1**

**Practices**

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [ ]:
 df = pd.DataFrame({"Ad": ["İstanbul","Ankara","İzmir","Bursa","Antalya",],"Nüfus": [15029231,5445026,4279677,2936803,2364396],"Kod":["34","06","35","16","07"]
                    })
 df

         Ad     Nüfus Kod
0  İstanbul  15029231  34
1    Ankara   5445026  06
2     İzmir   4279677  35
3     Bursa   2936803  16
4   Antalya   2364396  07

In [ ]:
dizi = np.array([[0,1,2,3],[4,5,6,7]])
df = pd.DataFrame(dizi)
df

   0  1  2  3
0  0  1  2  3
1  4  5  6  7

In [ ]:
df.columns = ["column 1","column 2","column 3","column 4"]
df.index = ["row 1","row 2"]
df

       column 1  column 2  column 3  column 4
row 1         0         1         2         3
row 2         4         5         6         7

In [ ]:
df = pd.DataFrame()
df["column 1"] = [0,1,2,3]
df["column 2"] = [4,5,6,7]
df

   column 1  column 2
0         0         4
1         1         5
2         2         6
3         3         7

In [ ]:
country_code = ["fr","ge","us","uk","cn"]
countries = pd.DataFrame(index=country_code)
countries.index.name = "Code"
countries

Empty DataFrame
Columns: []
Index: [fr, ge, us, uk, cn]

In [ ]:
countries["countries"] = ["france","germany","usa","united kingdom","china"]
countries["population"] = [61083916, 82400996, 301139947, 60776238, 1318683096]
countries["lifetime"] = [80.657, 79.406, 78.242 ,79.425, 72.961]
countries["total income"] = [2657213249384, 3439953462907, 14477635000000,3074359743897, 3552182311652]
countries['continent'] = ['europe', 'europe', 'america', 'europe', 'asia']
countries["per capita income"] = (countries["total income"] / countries["population"]).astype(int)
countries

,countries,population,lifetime,total income,continent,per capita income
Code,,,,,,
fr,france,61083916,80.657,2657213249384,europe,43501
ge,germany,82400996,79.406,3439953462907,europe,41746
us,usa,301139947,78.242,14477635000000,america,48076
uk,united kingdom,60776238,79.425,3074359743897,europe,50584
cn,china,1318683096,72.961,3552182311652,asia,2693

In [ ]:
countries["year"] = 2007
countries

,countries,population,lifetime,total income,continent,per capita income,year
Code,,,,,,,
fr,france,61083916,80.657,2657213249384,europe,43501,2007
ge,germany,82400996,79.406,3439953462907,europe,41746,2007
us,usa,301139947,78.242,14477635000000,america,48076,2007
uk,united kingdom,60776238,79.425,3074359743897,europe,50584,2007
cn,china,1318683096,72.961,3552182311652,asia,2693,2007

In [ ]:
print(countries["lifetime"])

Code
fr    80.657
ge    79.406
us    78.242
uk    79.425
cn    72.961
Name: lifetime, dtype: float64

In [ ]:
countries[["countries"]]

           countries
Code
fr            france
ge           germany
us               usa
uk    united kingdom
cn             china

In [ ]:
type(countries[["countries"]])

pandas.core.frame.DataFrame

In [ ]:
countries[["countries","population"]]

           countries  population
Code
fr            france    61083916
ge           germany    82400996
us               usa   301139947
uk    united kingdom    60776238
cn             china  1318683096

In [ ]:
countries[1:4]

,countries,population,lifetime,total income,continent,per capita income,year
Code,,,,,,,
ge,germany,82400996,79.406,3439953462907,europe,41746,2007
us,usa,301139947,78.242,14477635000000,america,48076,2007
uk,united kingdom,60776238,79.425,3074359743897,europe,50584,2007

In [ ]:
countries.loc["ge"]

countries                  germany
population                82400996
lifetime                    79.406
total income         3439953462907
continent                   europe
per capita income            41746
year                          2007
Name: ge, dtype: object

In [ ]:
countries.loc[:,"countries"]

Code
fr            france
ge           germany
us               usa
uk    united kingdom
cn             china
Name: countries, dtype: object

In [ ]:
countries.loc["ge","population"]

82400996

In [ ]:
countries.iloc[1:3,1:4]

      population  lifetime    total income
Code
ge      82400996    79.406   3439953462907
us     301139947    78.242  14477635000000

In [ ]:
countries.loc[lambda df: countries["population"] > 100000000, :]

,countries,population,lifetime,total income,continent,per capita income,year
Code,,,,,,,
us,usa,301139947,78.242,14477635000000,america,48076,2007
cn,china,1318683096,72.961,3552182311652,asia,2693,2007

In [ ]:
countries[countries["population"] > 100000000]

,countries,population,lifetime,total income,continent,per capita income,year
Code,,,,,,,
us,usa,301139947,78.242,14477635000000,america,48076,2007
cn,china,1318683096,72.961,3552182311652,asia,2693,2007

In [ ]:
countries.groupby("continent")

In [ ]:
countries.groupby(by="continent").mean()["per capita income"]

continent
america    48076.0
asia        2693.0
europe     45277.0
Name: per capita income, dtype: float64

In [ ]:
countries.groupby(by="continent").sum()["population"]

continent
america     301139947
asia       1318683096
europe      204261150
Name: population, dtype: int64